<form role="form" ng-controller="MainCtrl">
  <div class="content">
    <div class="row">
      <div class="btn btn-lg btn-primary" ng-click="initialize()">RESET</div>
    </div>
    <div class="row">
      <div class="col col-sm-12 col-md-6 col-lg-6">
        <div class="form-group">
          <label># of Children</label>
          <input type="number" min="1" class="form-control" ng-model="support.numChildren"/>
        </div>
      </div>
      <div class="col col-sm-12 col-md-6 col-lg-6">
        <div class="form-group">
          <label># Overnights</label>
          <input type="number" class="form-control" ng-model="support.numOvernights"/>
        </div>
      </div>
      <div class="col col-sm-12 col-md-6 col-lg-6">
        <div class="form-group">
          <label>Monthly Income</label>
          <input type="number" class="form-control" ng-model="support.income"/>
        </div>
      </div>
      <div class="col col-sm-12 col-md-6 col-lg-6">
        <div class="form-group">
          <label>Spouse Monthly Income</label>
          <input type="number" class="form-control" ng-model="support.spouseIncome"/>
        </div>
      </div>
      <div class="col col-sm-12 col-md-6 col-lg-6">
        <div class="form-group">
          <label>Maintenance Paid</label>
          <input type="number" class="form-control" ng-model="support.maintenancePaid"/>
        </div>
      </div>
      <div class="col col-sm-12 col-md-6 col-lg-6">
        <div class="form-group">
          <label>Maintenance Received</label>
          <input type="number" class="form-control" ng-model="support.maintenanceReceived"/>
        </div>
      </div>
      <div class="col col-sm-12 col-md-6 col-lg-6">
        <div class="form-group">
          <label>Child Support (Other Union)</label>
          <input type="number" class="form-control" ng-model="support.childOther"/>
        </div>
      </div>
      <div class="col col-sm-12 col-md-6 col-lg-6">
        <div class="form-group">
          <label>Spouse Child Support (Other Union)</label>
          <input type="number" class="form-control" ng-model="support.childSpouse"/>
        </div>
      </div>
      <div class="col col-sm-12 col-md-6 col-lg-6">
        <div class="form-group">
          <label>Child Expenses (Other Union)</label>
          <input type="number" class="form-control" ng-model="support.childExp"/>
        </div>
      </div>
      <div class="col col-sm-12 col-md-6 col-lg-6">
        <div class="form-group">
          <label>Spouse Child Expenses (Other Union)</label>
          <input type="number" class="form-control" ng-model="support.childExpSpouse"/>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col col-lg-12">
        <table class="table table-bordered">
          <tbody>
            <tr>
              <th>Your Adjusted Monthly Income</th>
              <td>{{calculated.adjustedIncome}}</td>
            </tr>
            <tr>
              <th>Spouse's Adjusted Monthly Income</th>
              <td>{{calculated.spouseAdjustedIncome}}</td>
            </tr>
            <tr>
              <th>Combined Adjusted Monthly Income</th>
              <td>{{calculated.combinedAdjustedIncome}}</td>
            </tr>
            <tr>
              <th>Your Percentage of Income</th>
              <td>{{display.percentIncome}}%</td>
            </tr>
            <tr>
              <th>Spouse's Percentage of Income</th>
              <td>{{display.spousePercentIncome}}%</td>
            </tr>
            <tr>
              <th>Total Child Support Obligation</th>
              <td>{{calculated.supportObligation}}</td>
            </tr>
            <tr>
              <th>Your Child Support Obligation</th>
              <td>{{display.obligationShare}}</td>
            </tr>
            <tr>
              <th>Spouse's Child Support Obligation</th>
              <td>{{display.spouseObligationShare}}</td>
            </tr>

            <tr>
              <th>Your Overnight Percentage</th>
              <td>{{display.percentageTime}}%</td>
            </tr>
            <tr>
              <th>Spouse's Overnight Percentage</th>
              <td>{{display.spousePercentageTime}}%</td>
            </tr>

            <tr>
              <th>Your Obligation With Time</th>
              <td>{{display.obligationTime}}</td>
            </tr>
            <tr>
              <th>Spouse's Obligation With Time</th>
              <td>{{display.spouseObligationTime}}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

    <div class="row">
      <div class="col col-sm-12 col-md-6 col-lg-6">
        <div class="form-group">
          <label>Your Other Adjustments</label>
          <input type="number" class="form-control" ng-model="support.otherAdjustments"/>
        </div>
      </div>
      <div class="col col-sm-12 col-md-6 col-lg-6">
        <div class="form-group">
          <label>Spouse Other Adjustments</label>
          <input type="number" class="form-control" ng-model="support.spouseOtherAdjustments"/>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col col-sm-12">
        <table class="table table-bordered">
          <tbody>
            <tr>
              <th>Your Adjustment Share</th>
              <td>{{display.adjustmentShare}}</td>
            </tr>
            <tr>
              <th>Spouse Adjustment Share</th>
              <td>{{display.spouseAdjustmentShare}}</td>
            </tr>
            <tr>
              <th>Your Total Child Support</th>
              <td>{{display.totalSupport}}</th>
            </tr>
            <tr>
              <th>Spouse Total Child Support</th>
              <td>{{display.spouseTotalSupport}}</th>
            </tr>
            <tr>
              <th>Your Support Order</th>
              <td>{{display.supportOrder}}</th>
            </tr>
            <tr>
              <th>Spouse Support Order</th>
              <td>{{display.spouseSupportOrder}}</th>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</form>
